[submodule "arena_tools"]
	path = arena_tools
	url = https://github.com/voshch/arena-tools.git
	update = rebase
[submodule "arena_evaluation"]
	path = arena_evaluation
	url = https://github.com/voshch/arena-evaluation.git
	update = rebase
[submodule "arena_isaac"]
	path = arena_isaac
	url = https://github.com/Arena-Rosnav/arena-isaac
	update = rebase
[submodule "arena_training"]
	path = arena_training
	url = https://github.com/Arena-Rosnav/Arena-Training.git
	branch = main
	update = rebase
[submodule "arena_planners"]
	path = arena_planners
	url = https://github.com/tuananhroman/arena_planners.git
	branch = jazzy
	update = rebase
[submodule "arena_robots"]
	path = arena_robots
	url = https://github.com/tuananhroman/arena_robots.git
	branch = jazzy
	update = rebase
[submodule "humansim"]
	path = humansim
	url = https://github.com/voshch/humansim.git
	branch = master
	update = rebase
