#!/usr/bin/env bash

export ARENA_WS_DIR="/opt/arena_ws"
export ARENA_DIR="$ARENA_WS_DIR/src/Arena"
export ARENA_VENV_DIR="/opt/venv"
export ARENA_FEATURES_DIR="$ARENA_DIR/_meta/docker/features"

HOST_UID=$(id -u)
export HOST_UID
HOST_GID=$(id -g)
export HOST_GID

export arena_compose_sudo="sudo"
source "$ARENA_DIR/_meta/docker/lib"

source src/Arena/_meta/tools/source
